@media (min-width: 660px) {
}

.home-page-body {
	grid-area:auto;
	display: block;
	position: relative;

	align-items: center;
	justify-content: center;
	font-family: monospace;
}

.home-page-body img {
	height: 90%;
	width: 100%;
}

.navigation-menu {
	grid-area: navigationMenu;
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: white;
	font-family: monospace;
}

.navigation-menu .left-links {
	position: absolute;
	left: 200px;
}

.navigation-menu .right-links {
	position: absolute;
	right: 200px;
	font-family: monospace;
}

.navigation-menu .logged-right-links {
	position: absolute;
	right: 250px;
	font-family: monospace;
}

.navigation-menu img {
	height: 80px;
	width: 100px;
}

.navigation-menu a {
	text-decoration: none;
	color: #000;
	font-size: 24px;
	font-weight: 500;
	margin: 15px;
	transition: opacity 0.2s;
	font-family: monospace;
}

.navigation-menu a:hover {
	opacity: 0.5;
}

.navigation-menu svg {
	margin-right: 10px;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
  }
  p{
	font-weight: 300;
	color: #111;
	text-align:unset;
  }
  .banner1{
	position: relative;
	width: 100%;
	min-height: 88vh;
	display: flex;
	font-family: monospace;
	justify-content: center;
	align-items: center;
	background: url("../../../img/dining.jpeg");
	background-size: cover;
	
  }
  .banner1 .content1{
	max-width: 900px;
	text-align: center;
  }
  .banner1 .content1 h1{
	font-size: 5em;
	color: #fff;
  }
  .banner1 .content1 p{
	font-size: 1em;
	color: rgb(255, 255, 255);
	font-family: monospace;
	font-weight: bold;
  }
  
  