

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 100%;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
	padding: 2px 16px;
}

.view__orders {
    display: flex;
    flex-wrap: wrap; 
}

.item__name {
	margin-left: 10px;
	padding: 0px;
}

.recomendedVideo_video {
    display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.back__button {
	float: right;
	padding-top: 10px;
}

.order_table  {
	padding: 5px;
}

.order_table th {
 background-color: lightseagreen;
}

.order_table tr:hover {
	background-color: #ddd;
	opacity:0.5;
	opacity:1;
	transform-style: preserve-3d;
	border-radius: 20px;
}

.mains-heading {
	text-align: center;
	font-weight: 900;
	font-size: 50px;
}

.create_order_link  {
	padding-top : 10px;
}
.create_order_link:hover {
	border-radius: 10px;
	transform: skew(-10deg);
	transform-style: preserve-3d;
    font-size: 20px;
}

.card_items {
	padding: 10px;
	display: flex;
	border-bottom: 1px solid grey;
}
.card_items p {
	right: 16px;
}

.card_items b {
	font-weight: 900;
	font-size: 15px;
	margin-right: 20px;
	margin-left: 10px;
}

.card_items:hover {
	cursor: pointer;
	transform: skew(-10deg);
	transform-style: preserve-3d;
}

.card_items_subtotal {
	display: flex;
	margin-top: 10px;
}

.card_items_subtotal b {
	font-size: 18px;
	padding: 5px;
	margin-left: 30px;
}

.card_items_subtotal p {
	font-size: 15px;
	padding: 5px;
	margin-left: 5px;
}

.order_container {
	padding: 35px;
} 
