.admin-home-main-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  
    overflow: auto;
  
    background: #81a6c9;
  }
  
  .admin-home-main-content {
    height: 88vh;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-items: center;
    padding: 30px;
  
    border-radius: 8px;
  
    background: #ffffff;
  
  }
  
  .admin-home-main-content a {
    font-size: 18px;
    color: #5f6670;
    text-decoration: none;
    font-weight: 400;
    transition: opacity 0.5s;
    margin-left: -10px;
    margin-top: -10px;
  }
  
  .admin-home-main-content a:hover  {
    opacity: 0.6;
  }
  
  .links {
    height: 30%;
    width: 50%;
    display: grid;
    justify-content: center;
    grid-template-columns: 140px 140px;
    grid-template-rows: repeat(6,50px);
    grid-template-areas: 
    'usersLogo usersText'
    'menuLogo menuText'
    'bookingsLogo bookingsText'
    'OrderLogo orderText'
    'InventoryLogo InventoryText'
    'logoutLogo logoutText'
    ;
    margin-top: 90px;
    margin-left: 25%;
    align-items: center;
    justify-items: left;
  }
  
  .users-icon{
    grid-area: usersLogo;
  }
  
  .Inventory-icon{
    grid-area: InventoryLogo;
  }
  
  .bookings-icon{
    grid-area: bookingsLogo;
  }
  
  .menu-icon{
    grid-area: menuLogo;
  }
  .Order-icon{
    grid-area: OrderLogo;
  }

  .logout-icon {
      grid-area: logoutLogo;
  }
  
  .admin-home-main-content .strong-link:active {
    background: #7AC3FF;
  }
  
  .admin-home-main-content svg {
    margin-right: 15px;
  }