.layout {
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: 12vh 76vh 12vh;

  grid-template-areas: 
    'navigationMenu'
    'Video'
    'mainContent'
    'footer'
  ;
}
video {
  object-fit: cover;
  width: 5%;
  height: 5%;
  position: fixed;
  z-index: -1;
}
